@model LapTrinhWeb.DbContext.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <div class="register-login-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Avatar)
                        </dt>

                        <dd>
                            <img src="~/Content/img/@Model.Avatar" />
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CategoryId)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CategoryId)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ShortDes)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ShortDes)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.FullDes)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FullDes)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Price)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Price)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PriceDiscount)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PriceDiscount)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.TypeId)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TypeId)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Delete)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Delete)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ShowOnHomePage)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ShowOnHomePage)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DisplayOrder)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DisplayOrder)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CreateOnUtc)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CreateOnUtc)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.UpdateOnUtc)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UpdateOnUtc)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Color)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Color)
                        </dd>

                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
